<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Contacts</h3>
  </div>
  <div class="table-responsive">
    <table class='table table-condensed table-striped table-hover'>
      <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Birthday</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @contacts.each do |contact| %>
          <tr>
            <td><%= contact.first_name %></td>
            <td><%= contact.last_name %></td>
            <td><%= contact.email %></td>
            <td><%= contact.birthday %></td>
            <td><%= link_to 'Edit', edit_contact_path(contact), remote: true %></td>
            <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class='panel-footer'>
    <%= link_to 'New Contact', new_contact_path, class: 'btn btn-block btn-primary' %>
  </div>
</div>
